<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.prahasiwi.laporankeuangan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:name=".activity.MyApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ResetPassActivty" />
        <activity android:name=".activity.SecondActivity" />
        <activity android:name=".activity.SetUrlActivity" />
        <activity android:name=".activity.InputDataActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.IncomeActivity" />
        <activity android:name=".activity.OutcomeActivity" />
        <activity android:name=".activity.DetailActivity" />
        <activity android:name=".activity.FullScreenActivity" />
        <activity android:name=".activity.UpdateActivity" />
        <activity android:name=".activity.ReportTransactionActivity" />
        <activity android:name=".activity.UpdateReportActivity"></activity>
    </application>

</manifest>